<section class="articles-page">
  <van-nav-bar title="新闻资讯" left-arrow @click-left="$router.back()" @click-right="onClickRight">
    <van-icon name="search" slot="right" />
  </van-nav-bar>

  <!-- <van-tabs :active="activeIndex" swipeable @click="onTabsChange" v-if="tabList.length">
    <van-tab class="h100" v-for="(tab, index) in tabList" :key="index" :title="tab.title">
      <articles-list :currentId="tab.id" :key="`articleList-${index}`" v-if="index == activeIndex"></articles-list>
    </van-tab>
  </van-tabs> -->

  <van-tabs :active="active" swipeable @click="slide">
    <van-tab v-for="(tab,index) in tabList" :title="tab.title" :key="index">
    </van-tab>
  </van-tabs>

  <div class="tabs-content" v-swiper:mySwiper="swiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(tab,index) in tabList">
        <articles-list :currentId="categoryId" v-if="index == active"></articles-list>
      </div>
    </div>
  </div>

  <van-popup position="right" v-model="show">
    <art-search @close="closeSeach"></art-search>
  </van-popup>
</section>