<el-footer height="60px">
  <el-row :gutter="20">
    <el-col :span="4">
      <router-link to="/articles">
        <div class="grid-content bg-purple"><i class="el-icon-frist-shangpu"><br><p style="font-family:Helvetica Neue;font-size:12px">商铺</p></i></div>
      </router-link>
    </el-col>
    <el-col :span="4" :push="1">
      <router-link to="/information">
        <div class="grid-content bg-purple"><i class="el-icon-frist-xiaoxi"><br><p style="font-family:Helvetica Neue;font-size:12px">消息</p></i></div>
      </router-link>
    </el-col>
    <el-col :span="4" :push="2">
      <div class="grid-content bg-purple"><i class="el-icon-frist-shouye"><br><p style="font-family:Helvetica Neue;font-size:12px">首页</p></i></div>
    </el-col>
    <el-col :span="4" :push="3">
      <router-link to="/cart">
        <div class="grid-content bg-purple"><i class="el-icon-frist-gouwuche"><br><p style="font-family:Helvetica Neue;font-size:12px">购物车</p></i></div>
      </router-link>
    </el-col>
    <el-col :span="4" :push="4">
      <router-link to="/me">
        <div class="grid-content bg-purple"><i class="el-icon-frist-wo"><br><p style="font-family:Helvetica Neue;font-size:12px">我的</p></i></div>
      </router-link>
    </el-col>

  </el-row>

</el-footer>