body > .el-container {
    margin-bottom: 40px;
    
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
  .text{
     height:970px;
  }
 .hjs{
  height: calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: -moz-calc(100% - 60px);
  overflow-y: scroll; 
    
  /* height:calc(100% - 60px);
  overflow-y: scroll;/*随内容变化滚动条*/
  } */
  html { overflow-y:hidden; }

