.company-detail{
  .van-cell__value{
    text-align: left;
    .van-tag {
      position: absolute;
      right: 3vw;
  }
  }
  .head-img{
    height: 23vw;
    width: 23vw;
    position: absolute;
    left: 30px;
    top: 27vw;
  }
  .head-name{
    position: absolute;
    left: 35vw;
    top: 35vw;
    background-color: #000000;
  }
  .head-flag{
    position: absolute;
    left: 48vw;
    top: 43vw;
  }
  .head-attention{
    position: absolute;
    right: 5vw;
    top: 43vw;
  }
  .head-company{
    position: absolute;
    left: 35vw;
    top: 43vw;
  }
  .person-bj{
    height: 55vw;   
    background-image: url(../../assets/images/personbj.png);
  }
  .user {
    &-links {
      height: 70px;
      font-size: 12px;
      text-align: center;
      background-color: #fff;
      .van-icon {
        display: block;
        font-size: 24px;
      }
      
      .van-col{
        padding: 15px 0px;
        border-right: gray solid 1px;
      }
       .van-col:last-child{
         border-left: none;
         border-right: none;
       }
    }
  }
  .van-cell__title {
    width: 24vw !important;
  }
  
}