<div class="new-page">
  <van-nav-bar title="新闻资讯" left-text="返回" right-text="搜索" left-arrow @click-left="$router.back()" @click-right="onClickRight" />

  <van-tabs :active="active" swipeable @click="slide">
    <van-tab v-for="(tab,index) in tabList" :title="tab.title" :key="index">
      <!-- <new-list :currentId="tab.id" :key="`articleList-${index}`" v-if="index == activeIndex"></new-list> -->
    </van-tab>
  </van-tabs>

  <div class="tabs-content" v-swiper:mySwiper="swiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(tab,index) in tabList">
        <new-list :currentId="categoryId" v-if="index == active"></new-list>
      </div>
    </div>
  </div>

  <van-popup position="right" v-model="show">
    <new-search @close="closeSeach"></new-search>
  </van-popup>
</div>