html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.h100 {
  height: 100%;
}

.scroll-wrap {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}