.time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 10px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .product-img {
    width: 50vw;
    height: 30vw;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .zh{
    width: 50vw;
    height: 20vw;
  }
