.el-row{
  font-size: 5vw;
  text-align: center;
}
  .time {
    font-size: 3vw;
    color: #999;
  }
  
  .bottom {
    margin-top: 0px;
    line-height: 10px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 25vw;
    height: 30vw;
    /* display: block; */
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  .mb{
    height: 12vw;
    width: 100vw;
    line-height: 50px;
    font-size: 5vw;
    background-image: url(../../../assets/images/menus_bg.jpg);
    background-size: contain;
    /* margin-bottom: 60px;  */
    text-align: center;
  } 
  .nb{
    margin-top: 3vw;
  }
  .eb{
    font-size: 4vw;
    margin-right: 2vw;
    margin-top: 3vw;
    position: absolute;
    right: 0;
    }
  .el-button--mini, .el-button--mini.is-round{
    padding: 5px 10px;
  }
  .el-tag {
    background-color: #FFFFFF;
    padding: 0px;
    height: 7vw;
    line-height: 30px;
    font-size: 2vw;
    color: #000000;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid rgba(64,158,255,.2);
}
.haha{
  background-color: #EFEFF4;
  height: 10px;
}
.el-card__body{
  width: 25vw;
  height: 50vw;
}