<div class="new-search">
  <van-search placeholder="搜索" v-model="value" show-action @click="search">
    <div class="btn-cancel" slot="action" v-if="!value.length" @click="closeSearch">取消</div>
    <div class="btn-cancel" v-else slot="action" @click="search(null)">搜索</div>
  </van-search>

  <div class="search-item" v-for='item in searchList' @click='toDetail(item.newid)'>
    <div class="item-left" :style='`background-image:url(${item.imgurl})`'>
      <!-- <i v-if='item.TypeLevel == 4' class="material-icons">play_circle_filled</i> -->
    </div>
    <div class="item-right">
      <div> {{ item.title }}</div>
      <div class="issue-createTime">{{ item.time }}</div>
    </div>
  </div>

  <infinite-loading v-if='openInfinite' @infinite="onInfinite" ref="infiniteLoading" spinner="spiral">
    <span slot='no-more'>没有更多数据</span>
    <span slot='no-results'>暂无数据</span>
  </infinite-loading>

  <section v-if='!searchList.length' class="search-container">
    <p class="hot-search-title">热门搜索</p>
    <span v-for='(item,index) in hotWords' :key='index' class="hotword-item" @click='searchByHot(item.keyword)'>
        {{ item.keyword }}
      </span>
  </section>
</div>